---
// Layout
import BaseLayout from "../layouts/BaseLayout.astro";

// Variables
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
