---
---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
</style>
